.menu {
	background-color: blue;
	position: fixed;
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	align-items: center;
	margin: 0;
	gap: 20px;
	padding: 4px 20px;

	position: fixed;
}
.menu li {
	text-align: left;
}
.menu li a :hover {
	text-decoration: underline;
}
.menu li a {
	text-decoration: none;
	color: white;
}
